<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cutzegypt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- TODO: Step 1.0, Review Permissions: Specify permissions you are using. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.cutzegypt.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme"
        tools:ignore="AllowBackup">
        <activity android:name="com.cutzegypt.ui.payonline.PayonlineActivity"
            android:theme="@style/AppTheme"/>
        <activity android:name="com.cutzegypt.ui.resendpassword.ResendPasswordActivitty" />
        <activity android:name="com.cutzegypt.ui.forgetpassword.ForgetPasswordActivity" />
        <activity android:name="com.cutzegypt.ui.phone.VerifyPhoneActivity" />
        <activity android:name="com.cutzegypt.ui.addetionalcart.AddetionalCart" />
        <activity
            android:name="com.cutzegypt.ui.coupon.AddCouponActivity"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.cutzegypt.ui.languag.Language"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name="com.cutzegypt.ui.successorder.SuccessOrder" />
        <activity
            android:name="com.cutzegypt.ui.nointernet.NoInternertActivity"
            android:theme="@style/MyDialogTheme" />
        <activity
            android:name="com.cutzegypt.ui.congratulition.CongratulitionCartActivity"
            android:theme="@style/MyDialogTheme" />
        <activity android:name="com.cutzegypt.ui.splash.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cutzegypt.ui.onboarding.OnBoardingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cutzegypt.ui.bottomnavigate.BottomNavigateActivity"
             android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.cutzegypt.ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.cutzegypt.ui.register.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" /> <!-- <service -->
        <!-- android:name="com.cairocart.Notifications.MyFirebaseInstanceIDService" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.google.firebase.INSTANCE_ID_EVENT" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

<!--        <service-->
<!--            android:name="MyNavigationService"-->
<!--            android:foregroundServiceType="location" >-->
<!--        &lt;!&ndash; Any inner elements would go here. &ndash;&gt;-->
<!--    </service>-->
</application>

</manifest>